---
- name: "update apt packages"
  become: true
  apt:
    update_cache: yes

- name: "upgrade packages"
  become: true
  apt:
    upgrade: yes

- name: "install nodejs and npm"
  become: true
  apt:
    name: ["nodejs", "npm"]
    state: latest
    update_cache: yes

- name: "install pm2"
  become: true
  npm:
    name: pm2
    global: yes
    production: yes
    state: present

- name: "create backend_app_dir"
  file: 
    path: ~/backend_app_dir
    state: directory

- name: 'Unarchive backend files'
  unarchive:
    src: artifact.tar.gz
    dest: ~/backend-app_dir

- name: 'Installing Node Dependencies'
  shell: |
    cd ~/backend-app_dir
    npm i
    
- name: 'Executing Node app with PM2'
  shell: |
    cd ~/backend-app_dir/dist
    pm2 stop default
    pm2 start main.js
  register: execute_node

- name: print message
  debug:
    msg: '{{ execute_node.stdout_lines }}'
- name: 'Configure pm2 to start as service'
  shell: |
    sudo su -c "env PATH=$PATH:/usr/local/bin pm2 startup systemd -u ubuntu --hp /home/ubuntu"
    pm2 save
    
    

  